<!DOCTYPE html>
<html>
<head>
  <title>Home | Pokerhands</title>
</head>
<body>
<h1>pokerhands</h1>
<div>
  <%= form_for(@card, action: "create") do |f| %>
    <%#= render 'shared/error_messages' %>
    <%= f.text_field :all_card, value: @card[:all_card] %>
    <%= f.submit("check") %>
  <% end %>
</div>
<p>
  <%= @result %>
</p>
</body>
</html>