/*@import "bootstrap-sprockets";*/
/*@import "bootstrap";*/


textarea{
    resize: vertical;
    text-align: center;
}

.center{
    text-align: center;
}

h1 h2 h3 h4 h5 h6{
    line-hight: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
    text-align: center;
}

ul {
    list-style-type: none;
}

#error_explanation {
    /*padding: 0 20em*/
    background-size: 20px 20px;
    background-color: pink;
    font-size: small;
    text-align: center;
    color: red;
}

.btn {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

.form-control {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

.box3 {
    padding: 0.5em 1em;
    margin: 2em 20em;
    color: #2c2c2f;
    background: #cde4ff;/*背景色*/
}
/*labelは非表示にする*/
label {
    display: none;
}